<div  class="text-center h-5/6 flex justify-center items-center  ">
    <h1 class='text-5xl'>Budgetron</h1>
</div>

<div class='flex-col text-center'> 
  <a href="<%= new_user_session_path %>" class="mx-4 py-3 px-5 bg-blue-600 text-white block font-medium">Sign In</a>
  <a href="/users/sign_up" class="mx-4 py-3 px-5  text-primary-gray-2 block font-medium">Sign Up</a>
</div>

