<div id="<%= dom_id financial_transaction %>" class='p-2 flex-col items-start space-y-4'>

<p class='text-primary-gray-1'> Transaction No. <%= financial_transaction.author_id[0,8] %></p>
<p class='flex text-sm text-primary-gray-3'>
  <%= heroicon "calendar"%><%= financial_transaction.created_at.strftime("%d %b %y at %l:%M %P")%>
</p>



</div>
