<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing financial transaction</h1>

  <%= render "form", financial_transaction: @financial_transaction %>

  <%= link_to "Show this financial transaction", @financial_transaction, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to financial transactions", financial_transactions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
