
<nav class="flex bg-primary-blue space-x-24  py-8 text-white">
 
  <div class=''>
   <%= link_to :back do%>
      <%= heroicon "arrow-small-left" %>
   <%end%>
  </div>

 <p>NEW TRANSACTION</p>

</nav>

<div class="mx-auto md:w-2/3 w-full">

  <%= render "form", financial_transaction: @financial_transaction %>

  
</div>
