<nav class="flex-col bg-primary-blue">
 
  <div class="flex justify-start h-16 space-x-32 text-white text-center items-center">
   <%= link_to categories_path do%>
     <%= heroicon "arrow-small-left" %>
    <%end%>
  <p>NEW CATEGORY</p>
  </div>


</nav>

<div class="mx-auto md:w-2/3 w-full">

  <%= render "form", category: @category %>


</div>
